.card{
  border: 1px solid hsl(0, 0%, 80%) ;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  align-self: center;
}



.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
}